dist-newstyle/
dist/
.direnv/
.devcontainer/
cabal.project.local*

*.bc
*.o
*.a
*.s
*.ll
!/cbits/*.ll
/*.wasm
/*.dl
/*.eclair
/*.ra
/*.js

result
eclair.prof
eclair.svg
*.eventlog*
eclair.hp
perf.data
perf.data.old
perf.svg

TODO*
