dist-newstyle/
dist/
.direnv/
.devcontainer/
cabal.project.local*

*.ll
*.bc
*.o
*.a
*.s
/*.wasm
/*.dl
/*.eclair
/*.js

result
eclair.prof
eclair.svg
*.eventlog*
eclair.hp
perf.data
perf.data.old
perf.svg
