name: "Build"
on: [push, pull_request]
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v3

      # In this step, this action saves a list of existing images, the cache is created without them in the post run.
      # It also restores the cache if it exists.
      - uses: jpribyl/action-docker-layer-caching@v0.1.1
        continue-on-error: true # Ignore the failure of a step and avoid terminating the job.

      - name: Build and test
        run: |
          set -eo pipefail
          docker build -f Dockerfile . -t eclair:$(date +%s) | tee eclair-lang-${{matrix.os}}.log
          docker run --rm eclair:$(date +%s) bash -c "make test" | tee -a eclair-lang-${{matrix.os}}.log

      - name: Upload logs
        if: ${{ always() }}
        uses: actions/upload-artifact@v2
        with:
          name: eclair-lang-${{matrix.os}}.log
          path: eclair-lang-${{matrix.os}}.log
